@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Arsenal:wght@400;700&family=Croissant+One&family=Inclusive+Sans&family=Inconsolata:wght@200;500;700;800;900&family=Josefin+Sans:wght@300;400;500;600;700&family=Marcellus&family=Mooli&family=Open+Sans:wght@300&family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@300;500;600;700&display=swap");
@import '../../styles/breakpoints';

.Home {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;

    @include  lg {
        height: 100vh;
    }

    h1 {
        font-size: 4.5rem;
        font-weight: 600;
        max-width: 80rem;
    }

    .content {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        @include lg {
            flex-direction: column;
            align-items: flex-start;
        }

        .left {
            gap: 2rem;

            h1 {
                bottom: 5rem;

                @include lg {
                    bottom: 0;
                    margin-bottom: 2rem;
                }
                @include md {
                    font-size: 4rem;
                }
                @include sm {
                    font-size: 3.7rem;
                }
            }

            .button {
                width: 18rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 1.6rem;
                border-radius: 5rem;
                border: 1px solid rgb(208, 208, 208);
                box-shadow: 0px 3px 4px gray;
                gap: 1rem;
                font-family: "Poppins", sans-serif;
                
                &:hover {
                    cursor: pointer;
                    scale: 1.02;
                }
            }
        }

        .right img {
            @include xl {
                width: 48rem;
            }

            @include sm {
                width: 100%;
            }
        }
    }
}
