@import '../../styles/breakpoints';

.Signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 1.6rem;

    .container {
        gap: 8rem;
        align-items: center;
        justify-content: center;

        .left {
            padding: 4rem 4rem;
            border-radius: 1rem;
            background-color: white;
            max-width: 45rem;
            width: 100%;
            height: 50rem;

            @include md {
                padding: 2rem 3rem;
            }

            .head {
                font-size: 2.5rem;
                font-weight: 600;
            }

            p {
                margin-bottom: 3rem;
            }

            form {
                height: 100%;

                .top {
                    input {
                        padding: 0.5rem 1rem;
                        outline: none;
                        border: none;
                        border-bottom: 2px solid rgb(197, 197, 197);
                        background-color: transparent;

                        &:first-child {
                            margin-bottom: 3rem;
                        }
                        &:focus {
                            border-bottom: 2px solid rgb(41, 155, 255);
                            color: rgb(41, 155, 255);
                            
                            &::placeholder {
                                color: rgb(41, 155, 255);
                            }
                        }
                        &::placeholder {
                            color: gray;
                        }
                    }
                    a {
                        font-size: 1.4rem;
                        color: rgb(93, 93, 93);
                        text-align: right;
                        margin-top: 1rem;

                        &:hover {
                            color: rgb(41, 155, 255);
                        }
                    }
                }
                .bottom {
                    margin-top: auto;
                    
                    button, .button {
                        font-size: 1.6rem;
                        padding: .8rem;
                        border-radius: .5rem;
                        border: 1px solid rgb(197, 197, 197);
                        background-color: white;
                        color: rgb(81, 81, 81);
                        text-align: center;

                        &:hover {
                            border-color: rgb(41, 155, 255);
                            color: rgb(41, 155, 255);
                            cursor: pointer;
                        }
                    }

                    .button:hover {
                        border: 1px solid rgb(197, 197, 197);
                        cursor: not-allowed;
                    }

                    .signup {
                        color: rgb(93, 93, 93);
                        text-align: center;
                        font-size: 1.4rem;
                        margin-top: 1rem;
                        a {
                            font-size: 1.4rem;
                            color: black;
                            &:hover {
                                color: rgb(41, 155, 255);
                            }
                        }
                    }
                }
            }
        }
        
        .right {
            img {
                @include xl {
                    width: 100%;
                }
            }
            @include md {
                display: none;
            }
        }
    }
}
